<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_payment_save_commit_after">
        <observer name="placeOrderInSelveo" instance="Selveo\MagentoTwoIntegration\Observer\OnPaymentCommit" />
    </event>
    <event name="admin_sales_order_address_update">
        <observer name="onAdminOrderAddressUpdate" instance="Selveo\MagentoTwoIntegration\Observer\OnAdminOrderAddressUpdate" />
    </event>
</config>
